/* CSS stylesheet */

/* Changes the padding of the content underneath the navbar */
.page-container {
  margin-top: 90px;
  justify-content: center;
}

/* changes the background of the entire document */
body {
  background-color: #898;
}

#pokemon-search {
  text-align: right;
}

.modal-title {
  text-transform: capitalize;
  text-align: center;
}

.modal-body {
  text-transform: capitalize;
  text-align: center;
  line-height: 0.5;
}

.close-modal-button {
  border-color: red;
}

.btn-primary {
  margin: auto;
  width: 100%;
}

.pokemon-list-wrap {
  margin: auto;
  justify-content: center;
}

/* this changes the background of the list the pokemon buttons are on */
.list-group-item {
  background-color: #989;
}
